{% load static %}
{% load i18n %}
<!-- templates/account/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans "Login" %}</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
    <h2>{% trans "Login Page" %}</h2>
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Login" %}</button>
        </form>
    {% else %}
        <p>{% trans "No login form available." %}</p>
    {% endif %}
    
    <!-- Link to sign up page -->
    <p>{% trans "Don't have an account?" %} <a href="/accounts/signup/">{% trans "Sign Up" %}</a></p>
</body>
</html>
