<!-- templates/account/logout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Out</title>
</head>
<body>
    <h1>Are you sure you want to sign out?</h1>
    <form method="post" action="/accounts/logout/">  <!-- 直接使用路径 -->
        {% csrf_token %}
        <button type="submit">Sign Out</button>
    </form>
    <button onclick="window.history.back();">No, go back</button>
</body>
</html>
